.App{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}
.form{
    border: 1px solid black;
    padding: 5px 10px;
    background-color: aliceblue;
    width: 300px;
    margin-left: 100px;
}
input{
    text-align: center;
    display: block;
    margin: 5px 10px;
    width: 280px;
}
.progress{
height: 20px;
width: 500px;
border: 1px solid black;
}
#second{
    height: 20px;
    width: 33%;
    background-color: aquamarine;
}
#third{
    height: 20px;
    width: 66%;
    background-color: aquamarine;
}
.showDetails{
    display: flex;
}
.error{
    color: red;
}